NODE_ENV=production
NEXT_PUBLIC_NODE_ENV=production
NEXT_PUBLIC_URL=https://demo-night.tk.sg
NEXT_PUBLIC_BASE_URL=https://demo-night.tk.sg
NEXTAUTH_URL=https://demo-night.tk.sg
NEXTAUTH_SECRET=

POSTGRES_DB=demo_night_app
POSTGRES_USER=demo_night
POSTGRES_PASSWORD=

KV_REST_API_TOKEN=
KV_REST_API_READ_ONLY_TOKEN=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

LETSENCRYPT_EMAIL=sysops@m.tinkertanker.com
